<p>Привіт <%= @resource.email %>!</p>

<p>Для зміни паролю перейдіть за посиланням:</p>

<p><%= link_to 'Змінити мій пароль', edit_password_url(@resource, :reset_password_token => @token) %></p>

<p>Якщо ви не відправляли запит на зміну паролю, ігноруйте це повідомлення.</p>
<p>Ваш пароль не зміниться, поки ви не перейдете за посиланням вище і не створите новий.</p>